.no-js {
 visibility: hidden;
 opacity: 0;
}

.js {
 visibility: visible;
 opacity: 1;
}

.hide {
  display: none;
}

.footer-list {
  margin: 0 !important;
  font-family: Source Sans Pro,Helvetica Neue,Arial,sans-serif;
}