.lang-selector {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  letter-spacing: 1px;
  line-height: 1.6;
  font-size: 12px;
  margin-top: 20px;
}

.no-js {
 visibility: hidden;
 opacity: 0;
}

.js {
 visibility: visible;
 opacity: 1;
}

.hide {
  display: none;
}

.footer-list {
  margin: 0 !important;
  font-family: Source Sans Pro,Helvetica Neue,Arial,sans-serif;
}