<!DOCTYPE html>
{% if page.url contains 'runtime' %}
  <html class='runtime-page'>
{% elsif page.url contains "monitoring" %}
  <html class='monitoring-page'>
{% elsif page.url contains "enterprise" %}
  <html class='enterprise-page'>
{% endif %}
{% include head.html %}

<body class="test ready sticky">

    {% include header.html %}

    <!-- MAIN-CONTENT AREA -->
    <main>
        {% include sidebar.html %}

        <section class="content">
            {% include topblock.html %}
            <article id="main" class="markdown-section">
                {% include edit_page.html %}
                {{ content }}
            </article>

            {% include footer.html %}
        </section>

    </main>
</body>
    {% include scripts_footer.html %}
</html>

